// Buttons

.btn-outline-secondary {
  @include button-variant($dark, $dark);
}

.btn-link {
  color: $pma-button-color;
}

button.mult_submit,
.btn,
.checkall_box + label {
  color: $pma-button-color;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.btn {
  border-radius: $border-radius;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &:active {
    transform: translateY(0);
  }
}

button.mult_submit {
  padding-top: 0;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    color: $pma-button-color;
    text-decoration: underline;
  }
}

.checkall_box + label {
  text-decoration: none;

  &:hover {
    color: $pma-button-color;
    text-decoration: underline;
  }
}

#bulkActionDropButton,
#bulkActionExportButton {
  background-color: #111519;
}
